.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.custom-card {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin-bottom: 8px;
}

.nome-aluno {
  color: #1a2856;
}

.small-date {
  color: #1a2856;
}

.remove-btn i {
  padding: 5.75px;
  color: #e95f5f;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn i:hover {
  background-color: #fceaea;
}
