<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">Geração de certificados</h1>
    <p class="mb-4 custom-subtitle">Preencha os dados para gerar um novo certificado</p>
  </div>

  <div class="custom-card w-100">
    <h2 class="card-title">Novo certificado</h2>

    <!-- Nome do aluno -->
    <div class="mb-3 custom-input-group">
      <label
        [ngClass]="{ 'text-danger-label': campoInvalido(nomeRef) }"
        for="nome"
        class="form-label"
      >
        Nome
      </label>
      <input
        [(ngModel)]="certificado.nome"
        name="nome"
        #nomeRef="ngModel"
        required
        id="nome"
        type="text"
        class="form-control custom-input"
        placeholder="Nome do aluno"
      />
      @if (campoInvalido(nomeRef)) {
      <div class="error-message d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="m-0">Nome do aluno é obrigatório</p>
      </div>
      }
    </div>

    <!-- Nome do curso -->
    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">
        <label for="curso" class="form-label"> Curso </label>
        <input
          [(ngModel)]="curso"
          name="curso"
          #cursoRef="ngModel"
          maxlength="50"
          required
          id="curso"
          type="text"
          class="form-control custom-input"
          placeholder="Nome do curso"
        />
      </div>
      <app-secondary-button
        (click)="adicionarAtividade()"
        [disabled]="!cursoRef.value || cursoRef.value.length == 0"
        textoBotao="Adicionar"
        phClass="ph ph-plus"
      ></app-secondary-button>

      <!-- @if (campoInvalido(cursoRef)) {
      <div class="error-message d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="m-0">Curso é obrigatório</p>
      </div>
      } -->
    </div>

    <div class="atividade-group">
      <label class="form-label">Lista de atividades</label>
      <div class="item-list w-100">
        @for (curso of certificado.curso; track $index) {
        <div class="item">
          <span>{{ curso }}</span>
          <div (click)="removerAtividade($index)" class="remove-btn">
            <i class="ph-bold ph-x"></i>
          </div>
        </div>

        @if ($index + 1 !== certificado.curso.length) {
        <hr />
        } }
      </div>
    </div>

    <!-- Botão de gerar certificado -->
    <app-primary-button
      (click)="submit()"
      [disabled]="!formValido()"
      textoBotao="Gerar certificado"
    ></app-primary-button>
  </div>
</form>
