.navbar {
  background-color: #f8f9fa;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e0e0e0;
  padding-right: 28px;
  padding-left: 12px;
}

.navbar-logo img {
  height: 40px;
}

.active {
  color: #007bff;
}

.nav-link {
  padding: 6px !important;
}

.nav-link.active {
  color: #007bff;
  font-weight: 600;
}

.nav-item {
  cursor: pointer;
  margin-left: 18px !important;
}
.nav-item i {
  font-size: 20px;
}

/* Ícone hamburguer padrão do bootstrap */
.navbar-toggler {
  border: none;
  background: transparent;
  padding: 0;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-menu-icon {
  font-size: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar-collapse {
    display: none;
  }
  .navbar-collapse.show {
    display: block;
    width: 100%;
    padding: 1rem 0;
  }
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }
  .nav-item {
    margin-left: 0 !important;
    margin-bottom: 10px;
  }
}
